/* KEEP */
:root {
  --blue: #418FDE;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --opacity: 0.8;
  --bordercolour: #a3c2e0;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f5fa;
}

/* Header - Yasmin Ibrahim */
header {
  color: var(--blue);
  height: 90px;
  width: 100%;
  background: #b7cfe4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: +1;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: hsla(221, 91%, 26%, 0.15);
  padding: 3px 20px 3px 20px;
}

header h1 .n-Ib {
  color: white;
}

/* Navigation bar */

header nav {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav a:visited {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--blue);
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

/* hero banner */
.hero-banner {
  background-image: url("./images/MyLondon.JPG");
  height: max-content;
  width: 100%;
  height: 150px;
  background-size: cover;
  position: relative;
}

.hero-banner h2 {
  color: white;
  font-size: 48px;
  background-color: hsla(203, 63%, 67%, 0.45);
  padding: 0 10px 0 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* About Me section styling */

h2 {
  border-right: thick solid var(--bordercolour);
}

#heading-two {
  color: var(--blue);
  font-size: 30px;
  margin-left: 160px;
  margin-top: 30px;
}

#heading-three {
  color: var(--blue);
  font-size: 30px;
  margin-left: 160px;
  margin-top: 30px;
}

p {
  line-height: 1.5;
  padding-left: 30px;
  color: var(--blue)
}

.container-fluid {
  display: flex;
}


.container-fluid.py-3 {
  background-color: #f0f5fa;
}

.container-fluid img {
  border-radius: 5px;
  max-width: 15%;
  height: 10%;
  padding: 10px;
  margin-left: 8px;
  position: relative;
  bottom: 5px;
  left: 20px;
}


/* My work section styling */
.text {
  background-color: #a3c2e0;
  width: 40%;
  padding: 10px 0 10px 0;
}

.textone {
  background-color: #a3c2e0;
  width: 15%;
  padding: 10px 0 10px 0;

}

.project:hover {
  transform: scale(1.05);
}

.section {
  display: flex;
  gap: 2rem;
  border-left: thick;
  border-color: (--bordercolour);
}

.section-heading {
  max-width: 40%;
  flex: 0 0 300px;
  margin-top: 30px;
}

.section-content {
  flex: 1;
  margin: 40px 80px 40px 0;
}

/* Skills section styling */

.list-group-item-action.bg-success {
  color: white;
}

.list-group-item-action {
  color: var(--blue);
}

/* footer styling */

footer h3 {
  font-size: 30px;
  color: white;
  margin-left: 60px;
}


#footer {
  font-size: 20px;
  color: #418FDE;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 30px 30px;
  border-left: thick solid var(--bordercolour);
}

footer a {
  margin: 20px;
  text-decoration: none;
  font-family: var(--fonttype);
  color: var(--blue);
}

footer a:hover {
  color: white;
  background-color: var(--blue);
}

footer .card {
  margin: 0 auto;
  padding: 0;
  border: thin solid #a3c2e0;
  text-decoration: none;
  background-color: #b5cfe7;
}

/* ADD NEW media queries */


/* My work section styling */

.card {
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  border: thick solid #a3c2e0;
  text-decoration: none;
  color: white;
}



.card-title {
  color: var(--blue);
  margin-left: 2rem;
  font-weight: bold;
}

.cardContainer {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

a.btn.btn-primary {
  position: relative;
  left: 25px;
}